div.info
  h1 #{producer.name}
  h4.contact #{contact} Contact
  h4 Wholesale List for #{date}
table.table
  thead
    tr
      th Item Code
      th Name
      th Price
      th Notes
  tbody
    each item in items
      tr
        td #{item.code}
        td #{item.name}
        td #{item.price}
        td #{item.notes}
div.foodstack
  h5 Powered by foodstack
