div.info
  h1 #{producer.name}
  h4 Wholesale List for #{producer.period}
table.table
  thead
    tr
      if items[0].code
        th Item Code
      th Item Name
      th Price
      th Notes
  tbody
    each item in items
      tr
        if items[0].code
          td #{item.code}
        td #{item.name}
        td #{item.price}
        td #{item.notes}
div.foodstack
  h5 Powered by foodstack
